html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}




.btn-1 {
  border: none;
  background-color: rgb(211, 35, 196);
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.btn-1:hover {background: #eee;}

.success {color: rgb(0, 0, 0);}
.info {color: dodgerblue;}
.warning {color: orange;}
.danger {color: red;}
.default {color: black;}